.container {
    width: 950px;
    height: 600px;
    background-color: #808080;
    margin: auto;
    padding: 10px;
}

.top-nav {
    height: 150px;
    background-color: green;
    margin: 10px;
}

.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    float: left;
    margin: 10px;
}

.main {
    height: 400px;
    width: 710px;
    background-color: red;
    float: left;
    margin: 10px;
    
}

.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 10px;
    float: left;
}

#advertisement {
    height: 120px;
    width: 670px;
    background-color: purple;
    float: left;
    margin: 20px 10px;
}